[submodule "dfwfw/WebServiceDocker"]
	path = dfwfw/WebServiceDocker
	url = https://github.com/irsl/WebServiceDocker
[submodule "dfwfw/ConfigHostsFile"]
	path = dfwfw/ConfigHostsFile
	url = https://github.com/irsl/ConfigHostsFile.git
[submodule "dfwfw/PreJSONParser"]
	path = dfwfw/PreJSONParser
	url = https://github.com/irsl/PreJSONParser.git
